<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>智能相册</title>
    <style>
        ul {
            list-style-type: none;/*移除列表前的小标志*/
            padding: 0;
            margin-bottom:95%;/*边距*/
            width: 80%;/*导航栏宽度*/
            background-color: #f1f1f1;
            border: 1px solid #bbb;/*导航栏边框*/
        }

        li a {
            display: block;/*将a变成块状*/
            color: #000;
            padding: 12px 14px;
            text-decoration: none;
        }

        li {
            text-align: center;/*字体居中*/
            border-bottom: 1px solid #bbb;/*块间的下划线边框*/
            font-family:"楷体", "仿宋";
            font-size:21px;
        }

        li:last-child {
            border-bottom: none;/*导航栏最后一个块无需下划线*/
        }

        li a.active {
            background-color: #09F;
            color: white;
        }

        /*鼠标移动到选项上改变颜色*/
        li a:hover:not(.active) {
            background-color: #09F;
            color: white;
        }

        h3 {
            color:#999;
            text-shadow:0.5px 0.5px #666;
            text-align:center;
            font-family:"楷体", "仿宋";
        }

        h4 {
            color:#999;
            text-shadow:0.5px 0.5px #666;
            text-align:center;
        }

        div.img {
            border:1px solid #CCC;
        }

        div.img:hover {
            border:1px solid #777;
        }

        div.img img {
            width: 100%;
            height: auto;
        }

        div.desc {
            padding: 15px;
            text-align: center;
            font-weight: bold;
            font-family: "楷体", "仿宋";
            font-size: 24px;
        }

        * {
            box-sizing: border-box;
        }

        .responsive {
            padding: 0 6px;
            float: left;
            width: 24.99999%;
        }

        @media only screen and (max-width: 700px){
            .responsive {
                width: 49.99999%;
                margin: 6px 0;
            }
        }

        @media only screen and (max-width: 500px){
            .responsive {
                width: 100%;
            }
        }

        .clearfix:after {
            content: "";
            display: table;
            clear: both;
        }

    </style>
</head>

<body background="/images/mainBackground.jpg">
<!--将整个界面分为3*1的表格：logo、展示区、版权声明-->
<table width="100%" height="100%" align="center">
    <tr>
        <td><img src="/images/logo2.png" width="980" height="106" align="middle" /></td>
    </tr>

    <!--将第二行单元格分为2列：导航栏和展示区-->
    <tr>
        <td><table width="100%" align="center">
                <tr>
                    <td width="15%">
                        <table width="100%">
                            <tr>
                                <td>
                                    <ul>
                                        <strong>
                                            <li style="padding:10px 0px;
                      color:#000;
                      border-bottom:1px solid #bbb;
                      background-color:#CCC;
                      text-align:center;
                      font-family:'楷体', '仿宋';
                      font-size:18px">导航栏</li>
                                            <li><a href="/">本地相册</a></li>
                                            <li><a class='active' href="/AIphoto">智能相册</a></li>
                                            <li><a href="/AIname">人物相册</a></li>
                                        </strong>
                                    </ul>
                                </td>
                            </tr>

                            <tr>
                                <td></td>
                            </tr>
                        </table>
                    </td>

                    <td width="85%">
                        <table width="97%" border="1">
                            <tr style="background-color:#09F;">
                                <td height="43"><img src="/images/intelligent.png" width="323" height="36" style="margin-left:40%" /></td>
                            </tr>

                            <tr height="97%">
                                <td>
                                    <%
                                    for(var a in lables){ 
                                     %>
                                        <div class="responsive" style="margin:30px">
                                            <div class="img">
                                                <a target="_blank" href="/AIphoto/sepPhoto?label=<%=a%>">
                                                    <img src="<%=lables[a][1]%>" alt="<%=lables[a][0]%>" width="600" height="400">
                                                </a>
                                                <div class="desc"><%=a%></div>
                                            </div>
                                        </div>
                                    <%}%>




                                    <p>&nbsp;</p>
                                    <p>&nbsp;</p>
                                    <p>&nbsp;</p>
                                    <p>&nbsp;</p>
                                    <p>&nbsp;</p>
                                    <p>&nbsp;</p>
                                    <p>&nbsp;</p>
                                    <p>&nbsp;</p>
                                    <p>&nbsp;</p>

                                    <div class="clearfix"></div>

                                    <div style="padding:6px;"></div>
                                </td>
                            </tr>
                        </table>
                    </td>

                </tr>
            </table></td>
    </tr>


    <tr>
        <td>
            <h3>虚拟化与云计算第十二组课程设计</h3>
            <h4>2018年6月</h4>
        </td>
    </tr>
</table>
</body>
</html>
